body{background-color: lightpink; margin: 0}
header{background-color: hotpink; text-align: center; border-radius: 20px;padding-top: 25px; padding-bottom: 25px}
header h1{color: white;font-size: 45px;font-family: Verdana, sans-serif; text-align: center;}
header img{border-radius: 150px; border: 20px solid #fc70db;}
main h2{font-size: 30px;font-family: Arial; margin: 10 auto; padding-left: 100px}
main p{font-size: 20px;font-family: Arial , Helvetica}
main li{font-size: 20px;font-family: Arial , Helvetica}
main img{text-align: center; padding-left: 300px; border-radius: 50px}